    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Systems Engineer with experience in web development in Java as a back-end language and front-end 
                    languages such as JavaScript, HTML 5 and CSS with additional expertise in enterprise applications and additional 
                    knowledge in SOA and web developement frameworks like Richfaces and AngularJS.</p>
                    <p>I have a great passion in new and innovative technologies such as HTML5, CSS3 and especially 
                    those that deal with JavaScript Frameworks and underlying techs like Node.js, Mongodb, Bower, Gulp, 
                    Karma, Protractor, etc.</p>
                    
                </div>
                <div class="col-lg-4">
                    <p>I have participated in the One Laptop per Child project and I have created and developed important 
                    projects here in Colombia in the past such as the implementation of the Mobile Portability Number for 
                    the Telefonica Movistar Provider, the web application Dutch auctions and Demands Firm for the 
                    Colombian Stock Exchange (BVC), the web portal for Infovalmer, the web aplications Judicial Deposits, 
                    Multicámara and PSE for the Bank Agrario of Colombia.</p>
                    <p>I have migrated the SOA arquitecture of the Caja Social Bank.</p>
                </div>
<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
-->
            </div>
        </div>
    </section>