    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Im a Systems Engineer with expirience in web developement with knowledges in enterprise applications</p>
                    <p>I count with good technical knowledge in languages like Java and Javascript, also knowledges in SOA and
                    web developement frameworks like Richfaces and AngularJS</p>
                    <p>I have participated in importat projects here in colombia like the implementation of Mobile Portability Number
                    for the Telefonica Movistar Provider. The disclosure of One Laptop per Child project in Colombia.</p>
                </div>
                <div class="col-lg-4">
                   <p>The migration of the SOA architecture for the Bank Caja Social. The developement of web application 
                    Dutch auctions and Demands Firm for the Colombia Stock Exchange (BVC). Support and Development of web portal for 
                    Infovalmer. Development of the web aplications Judicial Deposits, Multicámara and PSE for 
                    the Bank Agrario of Colombia</p>
                    <p>Im a big follower of new technologies like HTML5, CSS3 and specially those that deal with Javascript Frameworks 
                    and underlying techs like Bower, Gulp, Karma, Protractor, etc</p>
                </div>
<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
-->
            </div>
        </div>
    </section>