    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Systems Engineer with expirience in web developement and knowledge in enterprise applications</p>
                    <p>I have professional knowledge in Java as a backend language and Frontend languages such as Javascript, HTML5 and CSS.</p> 
                    <p>Also I have knowledge in SOA and Web Developement frameworks like Richfaces and AngularJS</p>
                    <p>Im a big follower of new technologies such as HTML5, CSS3 and specially those that deal with Javascript Frameworks 
                    and underlying techs like Bower, Gulp, Karma, Protractor, etc.</p>
                    
                </div>
                <div class="col-lg-4">
                    <p>I have participated in the One Laptop per Child project and I have created and developed important 
                    projects here in Colombia in the past such as the implementation of the Mobile Portability Number for 
                    the Telefonica Movistar Provider, the web application Dutch auctions and Demands Firm for the 
                    Colombian Stock Exchange (BVC), the web portal for Infovalmer, the web aplications Judicial Deposits, 
                    Multicámara and PSE for the Bank Agrario of Colombia</p>
                    <p>Also I have migrated the SOA arquitecture of the Caja Social Bank,</p>
                </div>
<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
-->
            </div>
        </div>
    </section>