    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <div class="img-container">
                       <img class="" src="img/profile2.png" alt="">
                   </div>
                    <div class="intro-text">
                        <span class="name">Omniverse</span>
                        <hr class="star-light">
                        <span class="skills" itemprop="description">Web Developer - Javascript - AngularJS</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
