    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Countries and Capitals</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/countries-capitals.png" class="img-responsive img-centered" alt="">
                            <p>This project list all countries showing information of each country. Created with Angular.js, 
                            Gulp and Geonames.org API</p>
                            <p>You can find the application <a href="http://jcortes.github.io/countries-capitals/app">here</a>!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">Client</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="">2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Waitstaff Calculator</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/waitstaff-calc.png" class="img-responsive img-centered" alt="">
                            <p>This project is based on a restaurant price calculator, including taxes and tip. It was created with AgularJS</p>
                            <p>You can find the application <a href="http://jcortes.github.io/ngWaitstaffCalc">here</a>!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">Client</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="">2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Mad Libs</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/madlibs.png" class="img-responsive img-centered" alt="">
                            <p>This project is based on an american game called Mad Libs and it was creaded with AngularJS</p>
                            <p>You can find the application <a href="http://jcortes.github.io/ngMadLibs">here</a>!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">Client</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="">2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Photo Searcher</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/photosearcher.png" class="img-responsive img-centered" alt="">
                            <p>This project search pictures on Instagram related with tags and was created with AngularJS and Instagram API</p>
                            <p>You can find the application <a href="http://jcortes.github.io/photo-searcher">here</a>!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">Client</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="">2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Calendar Demo</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/calendar.png" class="img-responsive img-centered" alt="">
                            <p>This project list all month days regards to year and month selected. Created with AngularJS and Bootstrap</p>
                            <p>You can find the application <a href="http://jcortes.github.io/calendar-demo/app">here</a>!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">Client</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="">2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Distro Bands</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/distroband.png" class="img-responsive img-centered" alt="">
                            <p>This is my capstone project in progress. This is a website capable to manage your own label
                            to distribute your bands content uploaded on SoundCloud</p>
                            <p>You can find the application <a href="http://distro-bands.herokuapp.com">here</a>!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">Client</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="">2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Inbox Demo</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/workportal.png" class="img-responsive img-centered" alt="">
                            <p>This project is a demo capable to read and update data, using AngularJS and Firebase</p>
                            <p>You can find the application <a href="http://jcortes.github.io/workportal-inbox">here</a>!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">Client</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="">2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>